body {
    font-family: 'Bebas Neue', cursive;
    background-color: #A8CFDD;
    margin: 0;
    padding: 0;
  }

.menu_hidden .menu {
  max-height: 0;
}

.menu {
  max-height:100vh;
  background-color: #FACBCC;
  overflow: hidden;
  z-index: 100;
  position: relative;

  -webkit-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.menu a {
  display: block;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 3em;
  text-decoration: none;
}

.menu a:hover {
  color: black;
}

.menu_close {
  position: absolute;
  right: 45px;
  top: 20px;
}

.menu_close .line {
  width: 40px;
  height: 5px;
  background-color: white;
  display: block;
  margin: 8px auto;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.menu_close .line:nth-of-type(1) {
  transform: rotate(-45deg);
  position: absolute;
}

.menu_close .line:nth-of-type(2) {
  transform: rotate(45deg);
  position: absolute;
}

.menu_close:hover .line {
  background-color: red;
}

.hamburger {
  margin: 10px;
  width: 40px;
  height: 35px;
  z-index: 100;
  position: relative;
}
.hamburger .line {
  width: 40px;
  height: 5px;
  background-color: black;
  display: block;
  margin: 4px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover .line {
  background-color: #FACBCC;
}

.writing {
  position: absolute;
  width: 10vw;
  top: 230px;
  left: 630px;
}

h1 {
  font-size: 7vw;
  font-weight: 100;
  margin-top: -90px;
}

.bio {
  font-family: 'Electrolize', sans-serif;
  font-size: 1.5vw;
  width: 235px;
  position: absolute;
  top: 6px;
}

.img_profilepicpolaroid {
  width: 1070px;
  padding: 0;
  position: fixed;
  top: -550px;
  left: -230px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .bio {
    margin-left: -70px;
    font-size: 2vw;
  }

  h1 {
    margin-left: -70px;
    font-size: 10vw;
  }
}

@media screen and (max-width: 767px) {
  .img_profilepicpolaroid {
    width: 550px;
    position: absolute;
    top: -80px;
    left: -120px;
  }
  h1 {
    font-size: 10vw;
    font-weight: 100;
    margin-top: -130px;
    margin-left: -330px;
  }
  .bio {
    font-size: 2.5vw;
    margin-left: -330px;
    margin-top: -35px;
  }
}



