body {
    font-family: 'Bebas Neue', cursive;
    background-color: #A8CFDD;
    margin: 0;
    padding: 0;
  }


h1 {
  font-size: 7vw;
  position: fixed;
  top: 90px;
  right: 400px;
  font-weight: 100;
}

.bio {
  font-family: 'Electrolize', sans-serif;
  font-size: 1.5vw;
  width: 235px;
  position: fixed;
  top: 230px;
  left: 675px;
}

.img_profilepicpolaroid {
  width: 1070px;
  padding: 0;
  position: fixed;
  top: -550px;
  left: -230px;
}


