body {
    font-family: 'Bebas Neue', cursive;
    background-color: #A8CFDD;
    margin: 0;
    padding: 0;
  }


h1 {
  font-size: 7vw;
  position: fixed;
  top: 210px;
  right: 90px;
}

.img_profilepicwpolaroid {
  width: 1070px;
  padding: 0;
  position: fixed;
  top: -550px;
  left: -240px;
}


