body {
    font-family: 'Bebas Neue', cursive;
    background-color: #A8CFDD;
    margin: 0;
    padding: 0;
  }


h1 {
  font-size: 7vw;
  transform: rotate(90deg);
  position: fixed;
  top: 210px;
  right: 90px;
}

.img_topnintendo {
  width: 1250px;
  padding: 0;
  position: fixed;
  top: -150px;
  right: 325px;
}

.screenbox {
  width: 480px;
  height: 370px;
  background-color: black;
  position: fixed;
  left: 85px;
  top: 150px;
}


