body {
    font-family: 'Bebas Neue', cursive;
    background-color: #FACBCC;
    margin: 0;
    padding: 0;
  }


h1 {
  font-size: 68pt;
  position: fixed;
  bottom: -60px;
  left: 700px;
  margin-top: 10px;
  font-weight: 100;
}

.bottomnintendo {
  width: 1450px;
  position: absolute;
  top: -210px;
  left: -35px;
  transform: rotate(.3deg);
}

.stylus {
  width: 400px;
  transform: rotate(-30deg);
  position: fixed;
  top: 0px;
  left: 30px;
}

img{
  max-width: 100%;
  display: block;
}

.parent{
  position:absolute;
  left: 385px;
  top: 50px;
  width:335px;
  height: 240px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
  margin: 20px auto;
  padding: 20px;
  overflow-y: scroll;
  background-color: black;
}


