body {
    font-family: 'Bebas Neue', cursive;
    background-color: #FACBCC;
    margin: 0;
    padding: 0;
  }


h1 {
  font-size: 7vw;
  position: fixed;
  bottom: -60px;
  left: 700px;
  margin-top: 10px;
  font-weight: 100;
}

.img_bottomnintendo {
  width: 1450px;
  position: fixed;
  top: -290px;
  left: -115px;
  transform: rotate(.3deg);
}

.stylus {
  width: 400px;
  transform: rotate(-30deg);
  position: fixed;
  top: 0px;
  left: 30px;
}


