body {
    font-family: 'Bebas Neue', cursive;
    background-color: #FACBCC;
    margin: 0;
    padding: 0;
  }


h1 {
  /* transform: rotate(-90deg);
  position: fixed;
  top: 210px;
  left: 120px; */
}

.menu_hidden .menu {
  max-height: 0;
}

.menu {
  max-height:100vh;
  background-color: #A8CFDD;
  overflow: hidden;
  z-index: 100;
  position: relative;

  -webkit-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.menu a {
  display: block;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 3em;
  text-decoration: none;
}

.menu a:hover {
  color: #FACBCC;
}

.menu_close {
  position: absolute;
  right: 45px;
  top: 20px;
}

.menu_close .line {
  width: 40px;
  height: 5px;
  background-color: white;
  display: block;
  margin: 8px auto;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.menu_close .line:nth-of-type(1) {
  transform: rotate(-45deg);
  position: absolute;
}

.menu_close .line:nth-of-type(2) {
  transform: rotate(45deg);
  position: absolute;
}

.menu_close:hover .line {
  background-color: red;
}

.hamburger {
  margin: 10px;
  width: 40px;
  height: 35px;
  z-index: 10;
}
.hamburger .line {
  width: 40px;
  height: 5px;
  background-color: black;
  display: block;
  margin: 4px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover .line {
  background-color: #A8CFDD;
}

.nintendo {
  position:absolute;
  width:1000px;
  margin: 0 auto;
}

.ds {
  position: relative;
}

.topnintendo {
  /* width: 1250px;
  padding: 0;
  position: fixed;
  top: -160px;
  left: 265px; */
}


.screenbox {
  width: 29vw;
  height: 22vw;
  background-color: black;
  position: absolute;
  left: 48vw;
  top: 6vw;
  border-radius: 8px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.tns-outer{
  position: relative;
  margin-bottom: 25px;
}

.tns-controls{
  position: absolute;
  top:50%;
  left: 0;
  right: 0;
  z-index: 50;
  outline:none;
}

.tns-controls button:nth-last-of-type(1){
  position: absolute;
  right: 0;
}

button{
  padding: 5px 10px;
  font-size: 1.5rem;
  background-color: white;
  border: 5px solid black;
}

.tns-nav-active{
  background-color: white;
}
button:hover {
  background-color: white;
}

.tns-nav{

  display: none;
  
  }

   /* Tablet Styles */
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .ds {
      overflow: hidden;
      width: 100vw;
    }

    .nintendo {
      width: 100%;
    }

    h1 {
      width: 100%;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
    .topnintendo {
      margin-left: -10vw;
      width: 140vw;
    }
    .screenbox {
      width: 64vw;
      height: 48vw;
      top: 13vw;
      left: 28vw;
    }

  }


  @media screen and (max-width: 767px) {
    .ds {
      overflow: hidden;
      width: 100vw;
    }

    .nintendo {
      width: 100%;
      margin-top: 100px;
    }

    h1 {
      width: 100%;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
    .topnintendo {
      margin-left: -10vw;
      width: 140vw;
    }
    .screenbox {
      width: 64vw;
      height: 48vw;
      top: 13vw;
      left: 28vw;
    }
  }