body {
    font-family: 'Bebas Neue', cursive;
    background-color: #A8CFDD;
    margin: 0;
    padding: 0;
  }

.pinkbox {
    background-color: #FACBCC;
    width: 40vw;
    height: 120vh;
}  

.menu {
  font-family: 'Electrolize', sans-serif;
  font-size: normal;
  line-height: 25px;
  color: white;
  position: fixed;
  top: 165px;
  left: 450px;
}

a,a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #A8CFDD;
  text-decoration: none;
}

h1 {
  font-size: 7vw;
  transform: rotate(-90deg);
  position: fixed;
  top: 150px;
  right: -150px;
}

.img_grainnintendo {
  width: 1300px;
  padding: 0;
  position: fixed;
  top: -150px;
  right: 100px;
}


